In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
star = pd.read_csv('data/stars_larger.csv',header=1)
star.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237680311226400971,352.476340,32.083681,19.22127,18.89125,18.77551,18.64375,18.57708,8111,301,4,37,8743832275874240512,QSO,1.653339,7766,58395,340
1,1237680311227187450,354.438295,32.195653,19.26509,18.22012,17.82656,17.64138,17.58769,8111,301,4,49,8737113155032078336,STAR,-0.000424,7760,58080,472
2,1237657401336660259,119.622158,30.650825,19.20690,17.57562,16.51169,16.00991,15.63780,2777,301,3,78,1194649389579134976,GALAXY,0.157430,1061,52641,253
3,1237657401334890829,116.645997,27.560866,18.95453,17.31941,16.45584,16.06454,15.73799,2777,301,3,51,1192374499635390464,GALAXY,0.081241,1059,52618,169
4,1237657401344983213,137.187349,43.596885,19.19234,17.65800,16.77064,16.33491,16.03147,2777,301,3,205,935790811474323456,GALAXY,0.176956,831,52294,611

In [3]:
# star["class"]=[0 if i == "GALAXY" else 1 if i == "STAR" else 2 for i in star["class"]]
star['class'].value_counts(normalize=False)

GALAXY    252025
STAR      193385
QSO        54590
Name: class, dtype: int64

In [5]:
star.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   objid      500000 non-null  int64
 1   ra         500000 non-null  float64
 2   dec        500000 non-null  float64
 3   u          500000 non-null  float64
 4   g          500000 non-null  float64
 5   r          500000 non-null  float64
 6   i          500000 non-null  float64
 7   z          500000 non-null  float64
 8   run        500000 non-null  int64
 9   rerun      500000 non-null  int64
 10  camcol     500000 non-null  int64
 11  field      500000 non-null  int64
 12  specobjid  500000 non-null  uint64
 13  class      500000 non-null  object
 14  redshift   500000 non-null  float64
 15  plate      500000 non-null  int64
 16  mjd        500000 non-null  int64
 17  fiberid    500000 non-null  int64
dtypes: float64(8), int64(8), object(1), uint64(1)
memory usage: 68.7+ MB

In [7]:
# check for duplicates
star.duplicated().sum()

0